@media screen and (max-width: 768px) {
    body {
        background-color: lavender;
    }
}

body {
    margin: 0;
    padding: 0;
}

#navbar-pinterest img {
    height: 25px;
    margin: 5px;
}

#navbar-pinterest {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
}

.navbar-button {
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.navbar-button:hover {
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
}

#notifications:hover, #message:hover {
    background-color: #AAA;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
}

.navbar-button.selected {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

.finder {
    flex-grow: 1;
    border-radius: 20px;
    border-style: none;
    background-color: #BBB;
    background-image: url(assets/search.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 15px;
    padding-left: 25px;
    font-weight: bold;
    font-size: 15px;
}

.finder:hover {
    background-color: #AAA;
}

#content {
    padding: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    justify-content: center;
    align-items: flex-start;
}

.column {
    flex-flow: column wrap;
}

.card-image {
    position: relative;
}

.card-image img {
    width: 120px;
    border-radius: 10px;
    position: relative;
}

div.buttons {
    display: none;
}

.card-image img:hover + div.buttons, div.buttons:hover {
    display: block;
}

.card-image > img:hover {
    filter: brightness(50%);
}

.card-image > img:has(+ div.buttons > a:hover) {
    filter: brightness(50%);
}

a.button {
    position: absolute;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    text-decoration: none;
    padding: 4px;
    border-radius: 10px;
}

a.button.save {
    top: 2px;
    right: 2px;
    background-color: red;
    filter: brightness(100%);
}

a.button.info {
    bottom: 8px;
    right: 4px;
    background-color: #444;
}

a.button.upload {
    padding: 0px;
    bottom: 6px;
    right: 30px;
}

a.button.upload img {
    width: 25px;
}